.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

input {
  border: solid 1px #ccc;
  outline: 0;
}

button {
  margin: 0 5px;
  background-color: #ccc;
  outline: 0;
  border: 0;
}

.home {
  padding: 0 20px;
}

.slot-ctn {
  box-sizing: border-box;
  border: solid 1px;
}

.fixed-ctn {
  box-sizing: border-box;
  border: solid 1px #e00000;
}