@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_5g84ibeqh25.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/webfont_5g84ibeqh25.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('//at.alicdn.com/t/webfont_5g84ibeqh25.woff2') format('woff2'),
        url('//at.alicdn.com/t/webfont_5g84ibeqh25.woff') format('woff'),
        /* chrome、firefox */
        url('//at.alicdn.com/t/webfont_5g84ibeqh25.ttf') format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('//at.alicdn.com/t/webfont_5g84ibeqh25.svg#AlibabaPuHuiTiL') format('svg');
    /* iOS 4.1- */
}


body {
    font-family: "webfont" !important;
    font-size: 20px;
}

.logo {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    height: 40px;
    align-items: center;
}