.header {
  color: white;
}
.content {
  position: absoluteb;
  top: 64px;
  bottom: 80px;
  width: 100%;
  overflow-y: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-size: 20px;
  text-align: center;
}
.box {
  padding: 24px;
  background: #fff;
  min-height: 500px;
}

.logo {
  float: left;
  width: 160px;
  margin: 16px 16px 0 0;
}
